body {
  background-color: #f5f5f5;
}

textarea {
  resize: none;
}

#main-content {
  max-width: 80%;
  padding: 2em 3em;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}